<!-- Main window -->
<div class="diary-container">
  <div id="diary-entries" *ngIf="!this.isWrittingToDiary">
    <table border="1">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of this.diaryEntries">
          <td class="selectable-entry" (click)="showEntry(entry.id)">{{ entry.title }}</td>
          <td>{{ entry.dateRecorded }}</td>
          <td><a (click)="initializeEdit(entry.id)" class="selectable-entry">Edit</a></td>
          <td><a (click)="deleteEntry(entry.id)" class="selectable-entry">Delete</a></td>
        </tr>
      </tbody>
    </table>
    <button (click)="writeToDiary()">Write to diary</button>
  </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- Window for creating a new diary entry -->
  <div id="create-new-diary-entry" *ngIf="this.isWrittingToDiary">
    <form (ngSubmit)="createDiaryEntry()" #diaryEntryForm="ngForm">
      <label for="">Title</label>
      <br>
      <input type="text" name="title" [(ngModel)]="diaryModel.title">
      <br>
      <label for="diary-entry">Write something in your diary</label>
      <!-- change textarea to wysiwyg -->
      <textarea name="entry" id="diary-entry" [(ngModel)]="diaryModel.entry"></textarea>
      <button (click)="cancelWrittingToDiary()">Cancel</button>
      <button type="submit" class="create-btn" *ngIf="!this.isEditing">Create</button>
      <button type="submit" class="create-btn" *ngIf="this.isEditing">Edit</button>
    </form>
  </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- Modal for showing diary entry text -->
  <div *ngIf="this.showEntryInModal" class="show-entry" (click)="closeOpenedEntry()"></div>
  <div class="entry" *ngIf="this.showEntryInModal">
    <span>{{ this.diaryEntry.entry }}</span>
    <a class="close-entry" (click)="closeOpenedEntry()">X</a>
  </div>
</div>
<!-- -------------------------------------------------------------------------------------------- -->
