<!-- Main window -->
<div class="diary-container">
  <div id="diary-entries" *ngIf="!this.isWrittingToDiary">
    <div class="book back-cover" *ngIf="this.isBookOpen"></div>
    <div class="summaryPage" *ngIf="this.isBookOpen">
      <table class="book-summary">
      <thead>
        <tr>
          <th colspan="4">Summary</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of this.diaryEntries">
          <td colspan="4"><a class="selectable-entry" (click)="showEntry(entry.id)">{{ entry.title }}</a></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="book front-cover" (click)="openBook()" [ngClass]="{'openBook': this.isBookOpen}"></div>  
    <!-- <button (click)="writeToDiary()" style="position: absolute; top: 500px;">Write to diary</button> -->
  </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- Window for creating a new diary entry -->
  <div id="create-new-diary-entry" *ngIf="this.isWrittingToDiary">
    <form (ngSubmit)="createDiaryEntry()" #diaryEntryForm="ngForm">
      <label for="">Title</label>
      <br>
      <input type="text" name="title" [(ngModel)]="diaryModel.title">
      <br>
      <label for="diary-entry">Write something in your diary</label>
      <!-- change textarea to wysiwyg -->
      <textarea name="entry" id="diary-entry" [(ngModel)]="diaryModel.entry"></textarea>
      <button (click)="cancelWrittingToDiary()">Cancel</button>
      <button type="submit" class="create-btn" *ngIf="!this.isEditing">Create</button>
      <button type="submit" class="create-btn" *ngIf="this.isEditing">Edit</button>
    </form>
  </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- Modal for showing diary entry text -->
  <div *ngIf="this.showEntryInModal" class="show-entry" (click)="closeOpenedEntry()"></div>
  <div class="entry" *ngIf="this.showEntryInModal">
    <span>{{ this.diaryEntry.entry }}</span>
    <a class="close-entry" (click)="closeOpenedEntry()">X</a>
    <a class="edit-entry" (click)="initializeEdit(this.diaryEntry.id)">E</a>
    <a class="delete-entry" (click)="deleteEntry(this.diaryEntry.id)">D</a>
  </div>
</div>
<!-- -------------------------------------------------------------------------------------------- -->
