.diary-container {

    width: 100%;
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#create-new-diary-entry {

    width: 70%;
}

#create-new-diary-entry .create-btn {

    margin-left: 10px;
}

#diary-entry {

    margin-top: 10px;
    height: 300px;
}

.selectable-entry {

    color: white;
    cursor: pointer;
}

.selectable-entry:hover {

    color: wheat;
}

.show-entry {

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    filter: opacity(50%);
    top: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}

.entry {

    background-color: ghostwhite;
    width: 40%;
    height: calc(100% - 90px);
    color: black;
    position: absolute;
    top: 50px;
    padding: 15px 30px;
    border-radius: 5px;
    overflow: auto;
    word-wrap: break-word;
    animation: pageEntry 1s forwards;
    text-align: justify;
}

@keyframes pageEntry {

    0% { width: 0; height: 0; color: transparent; }
    50% { width: 40%; height: 0; color: transparent; }
    100% { height: calc(100% - 90px); color: black; }
}

.close-entry {

    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: silver;
}