<!-- Main window -->
<div class="diary-container">
  <div id="diary-entries" *ngIf="!this.isWrittingToDiary" [ngClass]="{'moveBook': this.isBookOpen}">
    <div class="book back-cover"></div>
    <div class="book-paper-side"></div>
    <div class="book-paper-bottom"></div>
    <div class="book-rounded-corner"></div>
    <div class="book-left-corner-line"></div>
    <div class="summaryPage" *ngIf="this.isBookOpen">
      <div class="summary">
        <table class="book-summary">
          <thead>
            <tr>
              <th colspan="4">Summary</th>
            </tr>
          </thead>
          <tbody [ngClass]="{'fade-entries': this.movingPage}" *ngIf="!this.error">
            <tr *ngFor="let entry of this.diaryEntries">
              <td colspan="4"><a class="selectable-entry" (click)="showEntry(entry.id)">{{ entry.title }}</a></td>
            </tr>
          </tbody>
        </table>
        <div class="diary-error" *ngIf="this.error">
          <span>
            There was and error. Please check your internet connection or contact the website administrator.
          </span>
        </div>
      </div>
      <div class="page-management-container" *ngIf="!this.error">
        <a (click)="previousPage()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        <a (click)="nextPage()"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
      <div class="page-number">
        {{ this.page }}
      </div>
      <div class="write-to-diary-container" *ngIf="!this.error">
        <a (click)="writeToDiary()" class="write-to-diary-btn">Write to diary</a>
      </div>
    </div>
    <div class="book front-cover" (click)="openBook()" [ngClass]="{'openBook': this.isBookOpen}"></div>  
  </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- Window for creating a new diary entry -->
  <div id="create-new-diary-entry" *ngIf="this.isWrittingToDiary">
    <form (ngSubmit)="onFormSubmit()" #diaryEntryForm="ngForm">
      <label for="">Title</label>
      <br>
      <input type="text" name="title" [(ngModel)]="diaryModel.title" required>
      <br>
      <label for="diary-entry">Write something in your diary</label>
      <textarea name="entry" id="diary-entry" [(ngModel)]="diaryModel.entry" required></textarea>
      <button (click)="cancelWrittingToDiary()">Cancel</button>
      <button type="submit" class="create-btn" *ngIf="!this.isEditing" [disabled]="!diaryEntryForm.valid">Create</button>
      <button type="submit" class="create-btn" *ngIf="this.isEditing">Edit</button>
    </form>
  </div>
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- Modal for showing diary entry text -->
  <div *ngIf="this.showEntryInModal" class="show-entry" (click)="closeOpenedEntry()"></div>
  <div class="entry" *ngIf="this.showEntryInModal">
    <div class="header-background"></div>
    <div class="date-written">
      <span>{{ this.diaryEntry.dateRecorded }}</span>
    </div>
    <span>{{ this.diaryEntry.entry }}</span>
    <a class="close-entry" (click)="closeOpenedEntry()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
    <a class="edit-entry" (click)="initializeEdit(this.diaryEntry.id)">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
    <a class="delete-entry" (click)="deleteEntry(this.diaryEntry.id)">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
  </div>
</div>
<!-- -------------------------------------------------------------------------------------------- -->
