<nav class="navigation-bar">
  <ul class="navigation-links">
    <li>
      <a [routerLink]="['/']" class="no-hover">
        <img src="./../../assets/logo.png" alt="logo" style="width: 40px; height: 40px;">
      </a>
    </li>
    <li *ngIf="isLoggedIn()">
      <a [routerLink]="['/home']" routerLinkActive="activated" (click)="stopLoading()">Home</a>
    </li>
    <li>
        <a *ngIf="!isLoggedIn()" [routerLink]="['/login']" routerLinkActive="activated" (click)="stopLoading()">Login</a>
    </li>
    <li *ngIf="!isLoggedIn()">
      <a [routerLink]="['/register']" routerLinkActive="activated" (click)="stopLoading()">Register</a>
    </li>
    <li *ngIf="isLoggedIn()">
      <a [routerLink]="['/statistics']" routerLinkActive="activated" (click)="stopLoading()"(click)="stopLoading()">Statistics</a>
    </li>
    <li *ngIf="isLoggedIn()">
      <a [routerLink]="['/diary']" routerLinkActive="activated" (click)="stopLoading()">Diary</a>
    </li>
    <!-- todo: fix animation because it's a bit off -->
    <li *ngIf="isLoggedIn()" class="navigation-username show-on-desktop">
      Welcome back {{ getLoggedInUsername() | titlecase }}!
      <div class="profile-image" (click)="dropdownMenu()">
        <img class="profile-image" [src]="userService.userProfileImage" alt="">
        <div [ngClass]="{'dropdown': this.dropdown, 'hidden': !this.dropdown}">
          <ul>
            <li>
              <a [routerLink]="['/profile']">Edit profile</a>
            </li>
            <li>
              <a *ngIf="isLoggedIn()" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <!-- mobile menu -->
    <li *ngIf="isLoggedIn()" class="navigation-username show-on-mobile">
      <button class="open-profile-menu-btn" (click)="openMobileProfileMenu()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="profile-menu-container-shadow" *ngIf="this.isMenuOpen" (click)="closeMenu()">
        <div class="profile-menu">
          <button (click)="closeMenu()" class="close-mobile-menu-btn">X</button>
          <ul>
            <li>
              <a [routerLink]="['/profile']" (click)="closeMenu()">Edit profile</a>
            </li>
            <li>
              <a *ngIf="isLoggedIn()" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</nav>