.index-container {

    display: flex;
    width: 100%;
    height: calc(100% - 51px);
}

.background-image {

    background-image: url("./../../assets/indexImage.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.attribution {

    position: absolute;
    bottom: 0px;
    left: 5px;
    color: #ffffff;
}

.attribution a, .index-image-attribution a {

    color: white;
    font-weight: bold;
    text-decoration: none;
}

.index-image-attribution {

    position: absolute;
    bottom: 25px;
    left: 5px;
    color: #ffffff;
}

.title {

    position: absolute;
    width: 100%;
    height: calc(100% - 51px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.title-strong {

    font-size: 3em;
    font-weight: bold;
}

.title-weak {

    font-size: 1.3em;
}

@media only screen and (max-width: 767px) {

    .title-weak {

        font-size: 1em;
        text-align: center;
    }

    .attribution, .index-image-attribution {

        font-size: 0.7em;
    }
}

@media only screen and (max-width: 323px) {

    .index-image-attribution {

        bottom: 30px;
    }
}