<div class="index-container">
  <div class="background-image"></div>
  <div class="title">
    <div class="title-strong">Mood App</div>
    <div class="title-weak">An app where you can store your moods, view monthly statistics and write in your diary!</div>
  </div>
  <div class="attribution">
    Home and logo icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
  <div class="index-image-attribution">
    Photo by <a href="https://www.pexels.com/photo/blue-and-purple-cosmic-sky-956999/">Felix Mittermeier</a> from <a href="https://www.pexels.com">Pexels</a>
  </div>
</div>