/* You can add global styles to this file, and also import other style files */
@import "./app/nav/nav.component.css";
@import "./app/login/login.component.css";
@import "./app/home/home.component.css";
@import "./assets/font-awesome/css/font-awesome.min.css";

button {

    border: none;
    border-radius: 10px;
    background-color: #8ac6d1;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

button:hover {

    background-color: #bbded6;
}

button:focus, button:active {

    outline: none;
}

button:disabled {

    background-color: gray;
    cursor: initial;
}

input {

    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

input:focus, input:active, textarea:focus, textarea:active {

    box-shadow: 0px 0px 3px black;
    outline: none;
}

textarea {

    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    resize: none;
    height: 120px;
    width: 100%;
}

body, html {

    background-color: #fae3d9;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Diary notification style */

:root {

    --notification-height: 0;
}

.diary-notify {

    width: 250px;
    height: 70px;
    background-color: white;
    position: absolute;
    bottom: var(--notification-height);
    /* right: 10px; */
    color: white;
    font-size: 14pt;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: showEntryAnimation 0.7s forwards;
}

@keyframes showEntryAnimation {

    0% { right: 0px; }
    50% { right: 20px; }
    100% { right: 5px; }
}
/* ------------------------------------- */