.mood-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 100px);
}

.show-selected-mood-message {

    animation: shoWMessagePanel 2s forwards;
}

.hide-initial-mood-selection-home {

    animation: hideHomePanel 1s forwards;
}

.mood-form {

    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes hideHomePanel {

    100% { opacity: 0;}
}

@keyframes shoWMessagePanel {

    50% { opacity: 0; }
    100% { opacity: 1; }
}

.diary-link {

    color: #8ac6d1;
    cursor: pointer;
}

.diary-link:hover {

    color: #bbded6;
}

.write-to-diary {

    font-size: 0.8em;
    text-align: center;
    width: 100%;
    display: block;
}