.mood-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 100px);
}

.mood-buttons-container button {

    margin-left: 10px;
}

.show-selected-mood-message {

    animation: shoWMessagePanel 2s forwards;
}

.hide-initial-mood-selection-home {

    animation: hideHomePanel 1s forwards;
}

@keyframes hideHomePanel {

    100% { opacity: 0;}
}

@keyframes shoWMessagePanel {

    50% { opacity: 0; }
    100% { opacity: 1; }
}

.diary-link {

    color: #8ac6d1;
    cursor: pointer;
}

.diary-link:hover {

    color: #bbded6;
}

.words {

    width: 300px;
    height: 200px;
    background-color: white;
}