.chart-container {

    width: 100%;
    height: calc(100% - 51px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chart-container h1 {

    margin-bottom: -10px;
}

.chart {

    width: 50%; 
    height: 60%;
}

@media only screen and (max-width: 1024px) {

    .chart-container {

        justify-content: unset;
    }

    .chart {

        width: 100%;
    }

    .chart-container h1 {

        font-size: 16pt;
    }
} 