.chart-container {

    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chart-container h1 {

    margin-bottom: -10px;
}

.chart {

    width: 50%; 
    height: 60%;
}